    body{margin:0;}
    .HEADER{font-family:'Franklin Gothic Medium', 'Arial Narrow';
    width:100%;
    height: 180px;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;}
    .HEADER img{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-top:10px;
    margin-left:10px;
    width:70px;;
    height:70px;
    float:left;}
    .INFO{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    float: left;
    color: green;
    margin-left: 10px;
    padding: 0;}
    .INFO H4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: green;}
    .INFO h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 30px;}
    .footer{
    margin-top: 0px;
    width:100%;
    height:50px;
    position:absolute;
    text-align:center;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size:50px;
    color:green;
    bottom:0;}
    .LOOK{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    border:2PX solid green;
    background-color: black;
    width:100%;
    height:750px;
    box-shadow:0 1px 1em rgba(0, 0, 0, 2);
    float:left;}
    .CONTENT-TITLE{
    border-bottom: 3PX solid green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';}
    .CONTENT h3{
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-left:10px;
    margin-bottom: 0px;
    font-size:30px;}
    .CONTENT P{
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    margin-left:0px;}
    .CONTENT-TEXT img{
    border: 3PX solid green;
    margin-top:200px;
    margin-left:10px;
    width: 800px;;
    height: 480px;}
    .SCROLL-TEXT{
    margin-bottom: 10px;
    width:100%;
    height:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    background-color:black;
    color: green;}
    .MENU {
    background-color: black;}
    .MENU UL {margin: 0;}
    .MENU LI {display: inline-block;
    padding-right: 30px;}
    .MENU UL A{ background-color: black;
    text-decoration: none;
    padding:2px;
    border-radius: 100px;
    color: green;}
    .MENU UL A:hover{
    background-color: green;
    text-decoration: none;
    padding:2px;
    border-radius:100px;
    color: black;}
    .MENU LI:active{position: relative;TOP:1px}